<div class="container" [ngClass]="{'selected' : isSelected}"  *ngIf="!editMode">
    <div class="notes-container" [ngStyle]="{'width': widthCSS}">
        <div *ngFor="let data of track.midi.data">
            <app-midi-note
                [track]="track"
                [vw]="vw"
                [data]="data"
                [isRecording]="isRecording"
                [noteColor]="noteColor"
                [reRender]="reRender"
                (trackUpdated)="onTrackUpdated($event)"
                [midiContainerRef]="midiContainerRef"
                (triggerReRender)="onTriggerReRender($event)"
                [selectedNote]="selectedNote"
                (selectedNoteChange)="onSelectedNoteChange($event)"
                [borderCSS]="borderCSS"
            >
            </app-midi-note>
        </div>
    </div>
</div>

<div class="edit-container" *ngIf="editMode">
    <div class="control-header">
        <button type="button" class="quantize-button" (click)="onQuantizeRecording(2)">
            Quantize 1/2
        </button>
        <button type="button" class="quantize-button" (click)="onQuantizeRecording(4)">
            Quantize 1/4
        </button>
        <button type="button" class="quantize-button" (click)="onQuantizeRecording(8)">
            Quantize 1/8
        </button>
        <button type="button" class="quantize-button" (click)="onQuantizeRecording(16)">
            Quantize 1/16
        </button>
    </div>
    <div class="edit-notes-container" [ngStyle]="{'width': widthCSS}">
        <div *ngFor="let data of track.midi.data" 
        >
            <app-midi-note
                [track]="track"
                [vw]="vw"
                [data]="data"
                [isRecording]="isRecording"
                [noteColor]="noteColor"
                [reRender]="reRender"
                (trackUpdated)="onTrackUpdated($event)"
                [midiContainerRef]="midiContainerRef"
                (triggerReRender)="onTriggerReRender($event)"
                [selectedNote]="selectedNote"
                (selectedNoteChange)="onSelectedNoteChange($event)"
                [borderCSS]="borderCSS"
            >
            </app-midi-note>
        </div>
    </div>
</div>

<!-- <div cdkDropList (cdkDropListDropped)="onDrop($event)">
  <div *ngFor="let item of items" cdkDrag>{{item}}</div>
</div>
 -->

 <!--  cdkDropList (cdkDropListDropped)="onDrop($event)" -->

 <!--           cdkDrag 
            (cdkDragEnded)="onDrop($event)" 
            (cdkDragReleased)="onDragReleased($event)"
            [cdkDragData]="data" -->