.container {
    position: relative;
}

.notes-container {
    position: absolute;
    color: white;
    /* width: auto; */
    height: 6em;
    left: 0;
    border-top: 0.5px solid rgb(48, 48, 48);
    border-bottom: 0.5px solid rgb(48, 48, 48);
    /* box-sizing: content-box; */
    border: 0.1px solid rgb(0, 0, 0);
    background-color: rgb(255, 0, 34);
    opacity: 0.9;
    border-radius: 5px;
    display: flex;
}

.selected .notes-container {
    background-color: rgb(255, 72, 96);
}

.notes-container:hover {
    cursor: pointer;
    background-color: rgb(255, 72, 96);
}

.selected .notes-container:hover {
    cursor: pointer;
    background-color: rgb(255, 72, 96);
}

.edit-notes-container {
    position: absolute;
    color: rgb(255, 255, 255);
    height: 22em;
    left: 0;
    border-top: 0.5px solid rgb(48, 48, 48);
    border-bottom: 0.5px solid rgb(48, 48, 48);
    border: 0.1px solid rgb(0, 0, 0);
    background-color: rgb(50, 50, 50);
    opacity: 0.9;
    border-radius: 5px;
    display: flex;
}