.container {
    position: relative;
}

.notes-container {
    position: absolute;
    color: white;
    /* width: auto; */
    height: 6em;
    left: 0;
    border-top: 0.5px solid rgb(48, 48, 48);
    border-bottom: 0.5px solid rgb(48, 48, 48);
    /* box-sizing: content-box; */
    border: 0.1px solid rgb(0, 0, 0);
    background-color: rgb(255, 0, 85);
    opacity: 0.8;
    border-radius: 5px;
    display: flex;
}

.selected .notes-container {
    background-color: rgb(255, 99, 154);
}

.notes-container:hover {
    cursor: pointer;
    background-color: rgb(255, 55, 122);
}

/* .rows-container {
    left: 0;
    height: 100%;
    display: block;
}

.row {
    border: 0.1px solid red;
    height: 2.7778%;
} */