@import '~bootstrap-icons/font/bootstrap-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100;200;300;400&family=Inter:wght@100;200;300;400&family=Rajdhani:wght@300;400;500&display=swap');

.control-bar-container {
    background-color: #313131;
    font-family: 'Anuphan', sans-serif;
    font-weight: 300;
    /* align-items: center; */
    height: 4em;
}

.control-bar-header {
    height: 100%;
    display: flex;
    background-color: #313131;
    /* border: 1px solid red; */
}

.left-header {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    width: 25%;
    /* background-color: rgb(255, 148, 148); */
    text-align: center;
    height: 100%;
    /* border: 1px solid yellow; */
}

.left-header .volume-icon {
}

.left-header .volume-slider {
    margin-right: 1em;
    margin-top: 0.4em;
}

.left-header .volume-text {
    color: white;
    font-weight: 200;
    font-size: 16px;
}

.right-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    align-items: center;
    width: 25%;
    /* background-color: rgb(110, 110, 255); */
    text-align: center;
    height: 100%;
    /* border: 1px solid yellow; */
}

.right-header button {
    font-family: 'Anuphan', sans-serif;
    background-color: #171717;
    color: white;
    font-size: 12pt;
    height: 70%;
    font-weight: 200;
    color: rgb(215, 213, 213);
    margin-right: 0.1em;
    display: flex;
    align-items: center;
    padding-inline: 1em;
    border-radius: 0px;
    outline: none;
    border: none;
}

.right-header button:hover {
    background-color:#272727;
    border: none;
    outline: none;
}

.right-header button svg {

}

#bounce-button {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

#logout-button {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.center-header {
    height: 100%;
    width: 50%;
    text-align: center;
    /* background-color: rgb(141, 250, 141); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-header .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #171717;
    border-radius: 50px;
    width: 90%;
    height: 70%;

}

.button-container .octave-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    float: left;
    margin-left: 0em;
    width: 30%;
}

.button-container .control-button-container {
    width: 40%;
    margin: auto;
}

.button-container .tempo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    /* display: inline-block; */
    align-items: center;
    /* border: 1px solid red; */
    float: right;
    margin-right: 0em;
    width: 30%;
}

.octaveText {
    /* position: absolute; */
    font-family: 'Anuphan', sans-serif;
    font-weight: 200;
    font-size: 13pt;
    padding-top: 0em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    height: 2em;
    /* background-color:#242323; */
    border-radius: 15px;
}

.record-status {
    font-family: 'Anuphan', sans-serif;
    font-weight: 100;
    font-size: 13pt;
    color: rgb(215, 213, 213);
    position: absolute;
    top: 1.5em;
    left: 57%;
}

.octaveButton {
    height: 1.5em;
}

.octaveButton:hover svg rect {
    fill: #969696;
}

.octaveButton:hover svg path{
    fill: #969696;
}

.volume-slider {
    margin-left: 1em;
    margin-top: 0.25em;
}

.control-button {
    color: white;
    height: 3em;
    width: 3em; 
    border-radius: 5px;
    padding-inline: 0.5em;
    margin: auto;
}

.tempo-controls-container {
    width: 100%;
}

.tempo-display {
    margin: auto;
    /* border: 2px solid green; */
    text-align: center;
}

.currentBeat {
    color: white;
}

.currentMeasure {
    color: white;
}

.control-button svg {
    fill: rgb(215, 213, 213);
}

.control-button svg:hover {
    fill: rgb(162, 162, 162);
}

#record-button svg {
    fill: rgb(255, 0, 0);
}

#record-button svg:hover {
    fill: rgb(201, 0, 0);
}

#stop-button svg {
    animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}


