<div class="control-bar-container">
    <div class="control-bar-header">
        <div class="left-header">
            <div class="volume-slider">
                <app-main-volume (volumeChange)="onVolumeChange($event)"></app-main-volume>
            </div>
        </div>
        <div class="center-header">
            <!-- <button id="arrow" class="control-button" name="undo" (click)="clickUndo()"> UNDO BUTTON
            </button> -->
            <button class="control-button" name="rewind" (click)="clickRewind()"> <!-- REWIND BUTTON -->
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="bi bi-rewind-fill" viewBox="0 0 16 16">
                    <path d="M8.404 7.304a.802.802 0 0 0 0 1.392l6.363 3.692c.52.302 1.233-.043 1.233-.696V4.308c0-.653-.713-.998-1.233-.696L8.404 7.304Z"/>
                    <path d="M.404 7.304a.802.802 0 0 0 0 1.392l6.363 3.692c.52.302 1.233-.043 1.233-.696V4.308c0-.653-.713-.998-1.233-.696L.404 7.304Z"/>
                </svg>
            </button>
            <button class="control-button" name="play" (click)="clickPlay()"> <!-- PLAY BUTTON -->
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="bi bi-play-fill" viewBox="0 0 16 16">
                    <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                  </svg>
            </button>
            <button class="control-button" name="pause" (click)="clickPause()"> <!-- PAUSE BUTTON -->
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="bi bi-pause-fill" viewBox="0 0 16 16">
                    <path d="M5.5 3.5A1.5 1.5 0 0 1 7 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5zm5 0A1.5 1.5 0 0 1 12 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5z"/>
                </svg>
            </button>
            <button class="control-button" id="record-button" name="record" (click)="clickRecord()"> <!-- RECORD BUTTON -->
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red" class="bi bi-record-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 13A5 5 0 1 0 8 3a5 5 0 0 0 0 10z"/>
                  </svg>
            </button>
        </div>
        <div class="right-header">
            <button type="button" id="logout-button" class="btn btn-dark" (click)="clickLogout()"><i class="bi bi-box-arrow-right"></i> Logout</button>
        </div>
    </div>
    <div class="tempo-control-container">
        <div class="tempo-display">
            <span class="currentMeasure">
                Current Measure: {{metronome.currentMeasure}}
            </span>
            <span class="currentBeat">
                Current Beat: {{metronome.currentBeat}}
            </span>
        </div>
        <!-- <input type="text" value = "{{metronome.currentSixteenth}}" class="w-12 my-2 bg-green-500"> -->
    </div>
</div>