@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap');


  .noteynote {
    color: white;
    background-color: red;
  }
*, *::before, *::after {
    box-sizing: border-box;
  }

  .piano-controls .expand-piano {
    font-weight: 300;
    user-select: none;
    padding-inline: 1em;
    top: 3em;
    background-color: rgb(62, 62, 62);
    border-radius: 5px;
    float: left;
  }

  .piano-controls .expand-piano:hover {
    background-color: rgb(84, 84, 84);
  }

  .piano-controls {
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
  }

  .piano-controls .octave-display {
    font-weight: 150
  }

  .piano-controls .octave {
    font-weight: 150;
    user-select: none;
    padding-inline: 1em;
    top: 3em;
    float: right;
    background-color: rgb(62, 62, 62);
    border-radius: 5px;
  }

  .piano-controls .octave:hover {
    background-color: rgb(84, 84, 84);
  }
  
  .piano-container {
    border-bottom: 1px solid rgb(48, 48, 48);
    background-color: rgb(48, 48, 48);
    width: 100%;
  }

  .expanded .piano {
    visibility: visible;
    height: auto;
  }

  .piano {
    width: 40%;
    visibility: hidden;
    height: 0em;
    display: flex;
    position: relative;
    margin: auto;
  }
  
  .key {
    height: calc(var(--width) * 3);
    width: var(--width);
  }

  .key:hover {
    cursor: pointer;
  }
  
  .white {
    --width: 60px;
    background-color: white;
    border: 1px solid #333;
  }
  
  .header {
    margin-left: -0.5em;
  }

  .white.active {
    background-color: #CCC;
  }
  
  .black {
    --width: 30px;
    background-color: black;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
  }
  
  .black.active {
    background-color: #333;
  }
  
.body {
    position: relative;
    background-color: #1F1F1F;
    width: 100%;
    height: auto;
    font-family: 'Inter', sans-serif;
}

.new-track-button {
    text-align: center;
    width: 50%;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: white;
    background-color: #262626;
    margin: auto;
    border-radius: 5px;
    padding-inline: 0.5em;
    padding-top: 0.2em;
    height: 2em;
}

.new-track-button:hover {
    cursor: pointer;
    background-color: #2f2f2f;
}

.production-container {
    height: 100%;
    width: 100%;
    background-color: #1F1F1F;
    display: flex;
}

.midi-editor-container {
  /* display: block;
  top: 19%;
  position: absolute;
  border: 1px solid rgb(255, 0, 183); */
  width: 100%;
}

.tracks-container {
    background-color: #3f3f3f;
    width: 20%;
    height: auto;
}

.tracks-subContainer {
    /* border: 1px solid cyan; */
    height: auto;
}

.midi-container {
  width: 80%;
  position: relative;
  box-sizing: border-box;
  height: 100em;
  margin-top: 2em;
}

.midi-subContainer {
  position: absolute;
  width: auto;
}

.notes-container {
  position: relative;
  color: white;
  width: auto;
  height: 6em;
  border-top: 0.5px solid rgb(48, 48, 48);
  border-bottom: 0.5px solid rgb(48, 48, 48);
  /* box-sizing: content-box; */
  border: 0.1px solid red;
  display: flex;
}

.midi-note-section {
  position: relative;
  /* border: 0.1px solid blue; */
  height: 6em;
  width: auto;
  display: flex;
}

#tutorialInstructions {
    display: none;
    position: absolute;
    background-color: rgba(49, 49, 49, 0.6);
    width: 40%;
    height: 15%;
    left: 40%;
    top: 18%;
}

.tutorialInstructionsText {
    color: rgba(255, 255, 255, 1);
}

#tutorialInstructionsHeader {
    font-weight: bolder;
    font-size: large;
}

#next-button-tutorial{
    bottom: 20px;
    right: 20px;
    position: absolute;
    background-color: #22C55E;
}

.tutorials {
    padding: 20px;
}