<div *ngIf="!loading" class="body">
    <div class='header'>
        <app-main-controls 
            (play)="onPlay($event)" 
            (record)="onRecord($event)" 
            (pause)="onPause($event)"
            (undo)="onUndo($event)" 
            (rewind)="onRewind($event)" 
            (volume)="onMainVolumeChange($event)"
            (logout)="onLogout()"
            [isRecording]="isRecording"
            [metronome]="metronome">
        </app-main-controls>
    </div>
    <div class="piano-container" [ngClass]="{'expanded': isExpanded}">
        <div class="piano-controls">
            <button type="button" class="octave" (click)="onIncreaseOctave()">Increase Octave</button>
            <button type="button" class="octave" (click)="onDecreaseOctave()">Decrease Octave</button>
        </div>
        <div class="piano-controls">
            <button type="button" class="expand-piano" (click)="toggleExpand()">Show/Hide Piano</button>
        </div>
        <div class="piano">
            <div id="a" (mousedown)="onKeyMousedown('a')" class="key white" style = "display:flex;justify-content:center;align-items:center;">A</div>
            <div id="w" (mousedown)="onKeyMousedown('w')" class="key black" style = "display:flex;justify-content:center;align-items:center;color:white">W</div>
            <div id="s" (mousedown)="onKeyMousedown('s')" class="key white" style = "display:flex;justify-content:center;align-items:center;">S</div>
            <div id="e" (mousedown)="onKeyMousedown('e')" class="key black" style = "display:flex;justify-content:center;align-items:center;color:white">E</div>
            <div id="d" (mousedown)="onKeyMousedown('d')" class="key white" style = "display:flex;justify-content:center;align-items:center;">D</div>
            <div id="f" (mousedown)="onKeyMousedown('f')" class="key white" style = "display:flex;justify-content:center;align-items:center;">F</div>
            <div id="t" (mousedown)="onKeyMousedown('t')" class="key black" style = "display:flex;justify-content:center;align-items:center;color:white">T</div>
            <div id="g" (mousedown)="onKeyMousedown('g')" class="key white" style = "display:flex;justify-content:center;align-items:center;">G</div>
            <div id="y" (mousedown)="onKeyMousedown('y')" class="key black" style = "display:flex;justify-content:center;align-items:center;color:white">Y</div>
            <div id="h" (mousedown)="onKeyMousedown('h')" class="key white" style = "display:flex;justify-content:center;align-items:center;">H</div>
            <div id="u" (mousedown)="onKeyMousedown('u')" class="key black" style = "display:flex;justify-content:center;align-items:center;color:white">U</div>
            <div id="j" (mousedown)="onKeyMousedown('j')" class="key white" style = "display:flex;justify-content:center;align-items:center;">J</div>
            <div id="k" (mousedown)="onKeyMousedown('k')" class="key white" style = "display:flex;justify-content:center;align-items:center;">K</div>
            <div id="o" (mousedown)="onKeyMousedown('o')" class="key black" style = "display:flex;justify-content:center;align-items:center;color:white">O</div>
            <div id="l" (mousedown)="onKeyMousedown('l')" class="key white" style = "display:flex;justify-content:center;align-items:center;">L</div>
            <div id="p" (mousedown)="onKeyMousedown('p')" class="key black" style = "display:flex;justify-content:center;align-items:center;color:white">P</div>
            <div id=";" (mousedown)="onKeyMousedown(';')" class="key white" style = "display:flex;justify-content:center;align-items:center;">;</div>
          </div>
    </div>
    <div class="production-container">
        <div class='tracks-container'>
            <button class="new-track-button" (click)="promptSelectInstrument()">
                Add Track
            </button>
            <app-select-instrument
            (createTrack)="newTrack($event)"
            [isPrompted]="showSelectInstrument"
            >
            </app-select-instrument>
            <div class="tracks-subContainer" *ngFor="let track of tracks">
                <!-- <li *ngFor="let item of myMap | keyvalue">
                    Key: {{item.key}}, value: {{item.value}}
                  </li> -->
                <app-midi-track 
                    [track]="track"
                    [tracks]="tracks"
                    [(selectedTrack)]="selectedTrack"
                    (onDelete)="onDeleteTrack($event)"
                    (selectedTrackChange)="onSelectedTrackChange($event)"
                    [isRecording]="isRecording">
                </app-midi-track>
            </div>
        </div>
        <div class="midi-container">
            <app-slider-grid [bars]="bars" [signature]="signature" [vw]="maxVW"></app-slider-grid>
            <app-slider
                #sliderRef
                [bpm]="tempo" 
                [controlEvent]="controlEvent" 
                [bars]="bars"
                [isRecording]="isRecording"
                (positionChange)="handleSliderChange($event)" 
                (sPos)="catchSliderStartPos($event)"
            >
            </app-slider>
            <div class="midi-subContainer">
                <div *ngFor="let track of tracks">
                    <app-midi-notes-container
                        [track]="track"
                        [selectedTrack]="selectedTrack"
                        [isRecording]="isRecording"
                        [vw]="maxVW"
                        *ngFor="let data of track.midi.data"
                    >
                        <app-midi-note
                            [track]="track"
                            [selectedTrack]="selectedTrack"
                            [isRecording]="isRecording"
                            [vw]="maxVW"
                            [data]="data"
                        >
                            im a note pls kill me
                        </app-midi-note>
                    </app-midi-notes-container>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="loading" class="h-screen w-screen bg-purple-300"></div>
