<div class="body">
    <button class="absolute right-0 w-32 h-10 rounded-bl-md bg-gray-200" (click)="onLogout()">LOGOUT</button>
    <app-main-controls 
        (play)="onPlay($event)" 
        (record)="onRecord($event)" 
        (pause)="onPause($event)"
        (undo)="onUndo($event)" 
        (rewind)="onRewind($event)" 
        (volume)="onMainVolumeChange($event)"
        [metronome]="metronome">
    </app-main-controls>
    <button class="new-track-button" (click)="newTrack()">+ New Track</button>
    <div class="production-container">
        <div class='tracks-container'>
            <div class="tracks-subContainer" *ngFor="let track of tracks">
                <!-- <li *ngFor="let item of myMap | keyvalue">
                    Key: {{item.key}}, value: {{item.value}}
                  </li> -->
                <app-midi-track 
                    [track]="track"
                    [tracks]="tracks"
                    [(selectedTrack)]="selectedTrack" 
                    (selectedTrackChange)="onSelectedTrackChange($event)"
                    [isRecording]="isRecording">
                </app-midi-track>
            </div>
        </div>
        <div class="midi-container">
            <app-slider [bpm]="tempo" [controlEvent]="controlEvent"></app-slider>
            <div class="midi-subContainer" *ngFor="let track of tracks">
                <app-midi-block
                    [track]="track">
                </app-midi-block>
            </div>
        </div>
    </div>
</div>
