*, *::before, *::after {
    box-sizing: border-box;
  }
  
  .piano {
    display: flex;
    position: absolute;
    left: 25%;
    top: 25%;
  }
  
  .key {
    height: calc(var(--width) * 4);
    width: var(--width);
  }
  
  .white {
    --width: 100px;
    background-color: white;
    border: 1px solid #333;
  }
  
  .white.active {
    background-color: #CCC;
  }
  
  .black {
    --width: 60px;
    background-color: black;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
  }
  
  .black.active {
    background-color: #333;
  }
.body {
    position: relative;
    background-color: #1F1F1F;
    width: 100%;
    height: 100%;
}

.new-track-button {
    color: white;
    background-color: #373737;
    border-radius: 5px;
    padding-inline: 0.5em;
    padding-top: 0.2em;
    margin-bottom: 0.25em;
}

.new-track-button:hover {
    cursor: pointer;
}

.production-container {
    height: 100%;
    background-color: #1F1F1F;
    display: flex;
}

.tracks-container {
    background-color: #3f3f3f;
    width: 20%;
    height: 100%;
}

.tracks-subContainer {
    /* border: 1px solid cyan; */
    height: auto;
}

.midi-container {
    width: 80%;
    height: 100%;
    border: 1px solid violet;
}
