<div class="auth">
    <div class="authContent">
        <div class="logoSpace">
            <p>Logo and stuff go here</p>
        </div>
        <div class="logInContent">
            <div class="signUp">
                <p class="authHeader">Reset Password</p>
                <input type="text" #emailSignup class="inputField" id="signUpEmailInput" placeholder="Email" />
                <button (click)="forgotPassword(emailSignup.value)"
                    class="logInBtn">Get A Link</button>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>