@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap');

.track-container {
    position: relative;
    background-color: #292929;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    padding: 0.25em;
    border: 1px solid #3D3D3D;
    height: 6em;
}

.track-container:hover {
    background-color: #414141;
    color: rgb(220, 220, 220);
    cursor: pointer;
}

.selected {
    background-color: #3a3a3a;
}

.header {
    padding-left: 0.5em;
}

.track-title {
    font-size: small;
}
.track-instrument {
    font-size: large;
    padding: 0.5em;
}

.volume-slider {
    transform: scale(0.75);
    margin-top: -0.5em;
    margin-left: -1em;
    width: 70%;
    /* margin-left: -2.25em; */
}

.delete-track {
    float: right;
    padding-right: 0.5em;
}

.form-range::-moz-range-track,
.form-range::-webkit-slider-runnable-track {
    background-color: #d3d2d2;
}

.form-range::-moz-range-thumb, 
.form-range::-webkit-slider-thumb {
    background-color: #00ff62;
}

.form-range::-moz-range-thumb:hover, 
.form-range::-webkit-slider-thumb:hover {
    cursor: pointer;
}

  