.container {
    position: fixed;
    top: 35%;
    left: 20%;
    height: 65%;
    /* width: 10000em; */
    background-color: #292929;
    z-index: 50;
    opacity: 0.9;
    /* margin: auto; */
}

.content {
    margin: auto;
}

.header {
    color: white;
}