.container {
    /* position: absolute; */
    height: 100%;
    width: 100%;
    z-index: 4;
    display: flex;
}

.content {
    position: absolute;
    height: 100%;
    width: 80%;
    left: 20%;
    top: 0;
}

.grid {
    opacity: 0.7;
    z-index: 9;
}

.close {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    color: white;
    z-index: 10;
}

.content .midi-notes-container {
    margin-top: 1.5em;
    top: 0;
    position: absolute;
    height: 100%;
}

.control-panel .header {
    width: 100%;
    position: relative;
    color: white;
    font-weight: 200;
    font-size: 13pt;
    text-align: center;
    padding-top: 0.5em;
}

.header .header-text {
    width: 100%;
    margin: auto;
    /* border-bottom: 0.5px solid rgb(106, 106, 106); */
    padding-bottom: 0.5em;
    font-weight: 600;
}

.control-panel {
    display: block;
    position: absolute;
    left: 0;
    height: 100%;
    width: 20%;
}

.control-panel .quantizer-container {
    margin-top: 1em;
    width: 80%;
    display: block;
    margin-inline: auto;
}

.quantizer-container .quantize-pill {
    position: relative;
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
}

.control-panel .note-info-container {
    margin-top: 1em;
    position: relative;
    color: white;
    font-size: 12pt;
    font-weight: 100;
    margin-left: 3em;
}

.note-info-header {
    color: white;
    font-size: 12pt;
    position: relative;
    margin-top: 3em;
    margin-inline: auto;
    width: 70%;
    text-align: center;
    font-weight: 400;
    margin-bottom: 0em;
    border-bottom: 0.5px solid rgb(105, 105, 105);
    padding-bottom: 0.5em;
}

.note-info .note-label {
    /* background-color: #2d2d2d; */
    padding-inline: 0.5em;
}

.note-info .note-value {
    background-color: #373737;
    box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
    padding-inline: 0.75em;
    border-radius: 15px;
}

.quantize-button {
    display: inline-block;
    /* display: block; */
    font-weight: 100;
    color: white;
    font-size: 12pt;
    background-color:rgb(68, 68, 68);
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-inline: 0.75em;
    margin-right: 0.25em;
    margin-top: 1em;
}

.quantize-button:hover {
    background-color:rgb(98, 98, 98);
}

#half, #eigth {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#quarter, #sixteenth {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}