<div class="absolute w-full h-full bg-transparent flex justify-between">
    <div *ngFor="let m of griddex" class="flex justify-between">
        <div *ngIf="m % 4 == 0" class="relative text-md text-gray-300 -ml-px w-px bg-measureLineColor h-full grow shrink select-none font-thin">
            <div class="absolute h-[3em] -top-9 w-full bg-measureLineColor"></div>
            <span *ngIf="m / 4 < 16" class="absolute -top-9 left-2">{{m / 4 + 1}}</span>
        </div>
        <div *ngIf="m % 4 != 0" class="w-px bg-gridLineColor -ml-px h-full grow shrink"></div>
    </div>
</div>
