.master {
    width: 100%;
}

.header {
    text-align: center;
    width: 100%;
    padding: 1em;
    /* background-color: #242424; */
}

.container {
    border-top: 0.5px solid #646464;
    width: 100%;
    /* border: 1px solid red; */
    background-color: #242424;
    height: 0em;
    box-shadow: inset 0px 7px 15px rgba(0, 0, 0, 0.4);
    color: white;
    font-family: 'Anuphan', sans-serif;
    font-weight: 300;
    visibility: hidden;
    overflow: auto;
}

.show .container {
    height: 20em;
    visibility: visible;
}

.content {
    height: max-content;
}

.instrument {
    width: 100%;
    border-top: 0.5px solid #646464;
    border-width: 60%;
    /* border-bottom: 0.5px solid #646464; */
    padding: 0.5em;
    text-align: center;
}

.instrument:hover {
    background-color: #303030;
    cursor: pointer;
}

