/* #container {
    background-color: #656565;
} */
.control-button {
    height: 3em;
    width: 3em; 
    border-radius: 5px;
    padding-inline: 0.5em;
    margin: auto;
    margin-top: -0.75em;
}

#arrow {
    transform: rotate(90);
}