.container .note-block {
    position: absolute;
    /* width: 0; */
    /* margin-right: 1em; */
    /* left: 0; */
    height: 2%;
    /* height: 1.04167%; */
    border: 0.05px solid rgb(255, 255, 255);
}

.container .note-block:hover {
    cursor: move;
}
/* 
.container .note-block[cdkDrag][ngStyle] {
    left: var(--leftCSS);
}

.container .note-block[cdkDrag][ngStyle] {
    --leftCSS: {{ leftCSS }};
} */

.selected .note-block {
    background-color: #00aaff !important;
}

