<div class="container"
    cdkDragRootElement
    (mousedown)="selectCurrentNote()"
    [ngClass]="{selected: isSelected}"
>  
    <div
        [cdkDragBoundary]="midiContainerRef"
        cdkDrag
        (cdkDragReleased)="onDragReleased($event)"
        [cdkDragData]="data"
        cdkDragLockAxis="x"
        [cdkDragFreeDragPosition]="dragPosition"
        class="note-block"
        [ngStyle]=
            "{
                'width': widthCSS,
                'left': leftCSS,
                'top': topCSS,
                'background-color': noteColor,
                'border': borderCSS
            }"
    >
    </div>
</div>

<!-- <ng-template #dragPreview>
    <div
      class="note-block"
      [ngStyle]="{
        'width': widthCSS,
        'left': leftCSS,
        'top': topCSS,
        'background-color': noteColor
      }"
    ></div>
  </ng-template> -->

<!--     cdkDragRootElement -->

<!--         cdkDrag
        (cdkDragEnded)="onDrop($event)" 
        (cdkDragReleased)="onDragReleased($event)"
        [cdkDragData]="data" -->