<div class='track-container' 
    (click)="updateSelectedTrack(track)" 
    [ngClass]="{'selected': track.selected}"
>
    <div class="header-container">
        <div class="header">
            <span class='track-title'>{{track.title}}</span>
            <button class="delete-track" (click)="deleteTrack()">x</button>
        </div>
    </div>
    <div class='track-instrument'>{{track.instrument.name}} {{track.id}}</div>
    <div class="volume-slider">
        <!-- <input type="range" class="form-range" id="volume-slider" min="0" max="50" value="25">      -->
    </div>
</div>
