.verification {
    height: 100vh;
    width: 100%;
    background-color: #1F1F1F;
    color: white;
}
.verificationContent {
    height: 20%;
    width: 90%;
    margin: auto;
    padding-top: 20%;
}
.verificationNote{
    font-weight: bolder;
    text-align: center;
    text-justify: auto;
    font-size: larger;
}