<div class="auth">
    <div class="authContent">
        <div class="logoSpace">
            <p>Logo and stuff go here</p>
        </div>
        <div class="logInContent">
            <div class="signIn">
                <h2 class="authHeader">Log in to your Account</h2>
                <input type="text" #email class="inputField" id="signInEmailInput" placeholder="Email" />
                <input type="password" #password class="inputField" id="signInPasswordInput" placeholder="Password" />
                <button (click)="onSignin(email.value,password.value)" class="logInBtn">Sign in</button>
            </div>
            <div class="errorLog">
                <div *ngIf="errorShown">
                    <p class="errorMessage" id="errorMessage">* Email/Password is Incorrect</p>
                </div>
            </div>
            <div class="signUp">
                <p class="signUpNote">Don't have an account? Create one here:</p>
                <button (click)="onSignup()" class="logInBtn">Register</button>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>